In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
dados = pd.read_csv('diamonds.csv')
dados.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [15]:
dados.rename(columns = {'carat':'Quilate', 'cut':'Corte', 'color':'Cor', 'clarity':'Claridade',
                        'depth':'Profundidade', 'table':'Mesa', 'price':'Preço', 'x':'C',
                        'y':'L', 'z':'P'}, inplace = True)

In [16]:
corte = {
    'Ideal':'Ideal',
    'Premium':'Prêmio',
    'Very Good':'Muito Bom',
    'Good':'Bom',
    'Fair':'Justo'
}

In [17]:
dados.Corte = dados.Corte.map(corte)

In [19]:
dados.head(5)

   Quilate   Corte Cor Claridade  Profundidade  Mesa  Preço     C     L     P
0     0.23   Ideal   E       SI2          61.5  55.0    326  3.95  3.98  2.43
1     0.21  Prêmio   E       SI1          59.8  61.0    326  3.89  3.84  2.31
2     0.23     Bom   E       VS1          56.9  65.0    327  4.05  4.07  2.31
3     0.29  Prêmio   I       VS2          62.4  58.0    334  4.20  4.23  2.63
4     0.31     Bom   J       SI2          63.3  58.0    335  4.34  4.35  2.75

0        E
1        E
2        E
3        I
4        J
        ..
49995    D
49996    D
49997    D
49998    H
49999    D
Name: Cor, Length: 50000, dtype: object